:root {
  --primary-color: hsl(75, 94%, 57%);
  --secondary-color: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --font-size: 14px;
}

  @font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
  }

body {
  font-family: 'Inter';
  background-color: var(--grey-900);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-size: var(--font-size);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}

li {
  list-style-type: none;
}

.card {
  background-color: var(--grey-800);
  text-align: center;
  border-radius: 10px;
}

img {
  border-radius: 50%;
  margin: 2rem 0;
}

.l-heading {
  font-weight: 500;
  padding-bottom: 10px;
  width: 100%;
}

.m-heading {
  color: var(--primary-color);
  font-weight: 600;
}

.intro-p {
  margin: 30px 20px ;
  font-weight: 300;
}


.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.links a {
  display: inline-block;
  background-color: var(--grey-700);
  width: 85%;
  border-radius: 5px;
  padding: 10px 5px;
  font-weight: 600;
}

.links a:hover {
  background-color: var(--primary-color);
  color: var(--grey-800);
  transition: background-color, 0.4s;
}

@media screen and (min-width: 375px) {
  .card {
    min-width: 30%;
  }
}